# Introduction to Python: Part 1

In the AI & Machine Learning club, we will be using Python to code our projects! 

In this series of lessons, we will walk you through fundamental Python knowledge that will assist you with your projects. Keep in mind that this is a very condensed course, so it would be very important for you to practice and review this on your own as well.

## Your First Line of Python

Okay, let's get started with some coding! 

If you're in GitHub right now, you will need to type the line of code below into Replit in order to run it.

In [ ]:
print("Hello world")

Hello world

## Your First Variable

In programming, we use something called a **variable**. It's similar to what you have learned in math.

In [ ]:
x = 10

When you run the cell above, you create a variable named `x` assigned with the value of 10. 

The next time you refer to `x` in your code, it will remember that it has been assigned 10.

## Printing

When we run a Python program, we will only receive what we set to print to the screen. Run the code below to see how it works:

In [ ]:
# Note that running this line of code yields no result
x = 20

In [ ]:
# However, running this gives you a result
y = 25
print(y)

25

Note that `print` cannot have a capital P.

Time to practice! Add a line to the code block below to print the value of `z`.

In [ ]:
z = 35
### YOUR CODE HERE ### 
print(z)
# By the way, when you add a hashtag to the front of a line of code, this tells the program to treat that line as a comment
# Programmers leave comments on their code to leave helpful notes for themselves and communicate information to other programmers!

35

What happens if we use multiple print commands? They will automatically print on separate lines:

In [ ]:
print("Hello!")
print("How are you feeling today?")

Hello!
How are you feeling today?

An useful way to use variables is to print out messages that have the value of the variable in the message:

In [ ]:
num_pencils = 5
print("I have", num_pencils, "pencils.")

I have 5 pencils.

Notice that variables don't have to just be single lettered, such as `x`, `y`, and `z`. They can also be composed of letters, such as the `num_pencils` you saw above.

Time to practice! Look in the cell below for instructions:

In [ ]:
num_books = 100
# Using the variable num_books, Write a print statement below to say "I own 100 books."

### YOUR CODE HERE ### 
print("I own", num_books, "books.")

I own 100 books.

## Rules on Naming Variables

Like many other things, there are rules that you must follow when naming variables.

For example, variables require the correct input of lowercase and uppercase letters. This means a variable named `something` and one named `Something` are different! See what happes when we run code with this mistake:

In [ ]:
thing = 1
print(Thing)

This is because we created a variable named `thing` but not one named `Thing`.

As you have seen in earlier examples, variables can have letters, numbers, and underscores in them. However, there are restrictions.

Run the following code blocks to see which ones raise errors:

In [ ]:
thing_2 = 5

In [ ]:
thing-2 = 5

SyntaxError: ignored

In [ ]:
2_thing = 5

SyntaxError: ignored

In [ ]:
random_variable = 5

In [ ]:
random variable = 5

SyntaxError: ignored

From the above examples, you should notice:

*   You cannot use any special characters (such as`-` or `+`) or punctuation (such as `.` or `,`). That's why `thing-2 = 5` doesn't work.
*   You can only start a variable name with a letter or underscore (no numbers), so you cannot use `2_thing = 5`. 
*   You cannot put a space in a variable name, so you cannot write `random variable = 5`.

As a final note, as shown below, you also can't use "reserved keywords" as variable names. "Reserved keywords" are special words in Python that have specific jobs and do specific things in your code. For example, one reserved keyword is `for`. (You will learn what `for`does later on.) It brings a syntax error in your code:

In [ ]:
for = 10

SyntaxError: ignored

## Data Types

As a review, what we **name** our variable is what goes in front of the equal sign and what we **assign** to are variables are what goes right after the equal sign.

So far, we have found out that we can use letters, words, and numbers in **naming** our variables. However, we can actually also **assign** different types of data to our variables!

We can assign text to variables by using quotations or apostrophes.

In [ ]:
some_string = "Apples"
some_string_2 = 'Oranges'
print(some_string)
print(some_string_2)

Apples
Oranges

In [ ]:
# We can also assign numbers with decimal points to our variables
some_number = 13.45

Okay, let's practice!

In [ ]:
# Initialize your own variable below (give it any valid name) and assign it the value "Hello!". Then print it.
### YOUR CODE HERE ### 
yay = "Hello!"
print(yay)

Hello!

## Math in Python

Python can also be used as a math calculator. In machine learning, we will often deal with complex numbers and equations, so this is when a calculator comes handy! 

For example, if we were asked to multiply 23 and 45, we could type it right into Python:

In [ ]:
print(23*45)

1035

But what if we need to use this answer for future calculations? We can save it as a variable and use it later!

In [ ]:
a = 23 * 45
b = 4
c = a * b
print(c)

4140

### Math Operators

See how we do mathematical operations in Python below:

In [ ]:
addition = 7 + 3
subtraction = 18 - 7

multiplication = 12 * 3
division = 36 / 6

exponents = 3 ** 2

# Notice that if we run this cell block, there is no output (so we can't check our results)

In [ ]:
# Add a print statements so you can check if the calculations come out as expected!

### YOUR CODE HERE ### 
print(addition)
print(subtraction)
print(multiplication)
print(division)
print(exponents)

10
11
36
6.0
9

Additionally, one math operation you may have not have seen before is called **modulo**. It can sometimes be useful because it returns the remainder after you divide.

For example:

In [ ]:
modulo = 33 % 10
print(modulo)

# When you divide 33 by 10, you get 3 with a remainder of 3
# The modulo (%) operator returns that 3

3

### Order of Operations and Parentheses

Order of operations and parentheses work the same way in Python as you would expect in math.

In [ ]:
some_number = (47 + 3) * 2 / 10
print(some_number)

10.0

However, an exception is that you cannot do multiplication by just having parentheses:

In [ ]:
some_number_2 = 2 (5 + 5)

TypeError: ignored

### A Little More Math in Python

So far, we've only been creating new variables. However, variables in Python can be updated to hold new values. For example:

In [ ]:
a = 10
print(a)
a = 20
print(a)

10
20

What if we wanted to add 5 to the value of `a`?

In [ ]:
a = 20
a += 5
print(a)

25

The `+=` tells the computer to add 5 to the original value of `a`, and then update `a` to equal this new number.

Below is a longer example with other operations. What do you think will be printed out? Try calculating this yourself (without technology), and then add a print statement to verify the accuracy of your answer:

In [ ]:
unknown = 5
unknown += 5
unknown -= 2
unknown *= 8
unknown /= 4
unknown %= 3

##ADD a print statement here
print(unknown)

1.0